*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --maincolor: #FF7A00;
    --mainfont: 'Manrope';
    --bgcolor:#131921;
    --lightbg: rgba(255,255,255,0.05)
}

body{
    background-color: var(--bgcolor);
    overflow-x: hidden;
    position: relative;
}

.underLay{
    position: absolute;
    content: "";
    background-color: var(--lightbg);
    width: 100vw;
    height: 120vh;
    top: -20px;
    /* transform: rotate(-5deg);
    left: -35px; */
    left: 0;
    z-index: -1000;
}

@media (max-width:500px){
    .underLay{
        height: 150vh;
    }
}

/* First Section */


.topQuote{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--maincolor);
    color: white;
    font-family: var(--mainfont);
    padding: 7px 0;
    font-size: 13px;
}



/* Second Section */


.landingSection{
    color: white;
    font-family: var(--mainfont);
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    row-gap: 10px;
    height: auto;
    margin-top: 30px;
}
.landingSection>img{
    height: 50px;
    width: 100px;
}
.landingSection>p{
    color: var(--maincolor);
    font-weight: 200;
    text-align: center;
}
.landingSection>h1{
    font-size: clamp(30px, 5vw, 65px); 
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
}
@media (max-width:500px){
    .landingSection>h1{
        padding: 0 5px;
    }
}
.landingSection>h4{
    font-size: 21px;
    font-size: clamp(16px, 2vw, 21px); 
    text-align: center;
    max-width: 50%;
    font-weight: 400;
}
@media (max-width:580px){
    .landingSection>h4{
        max-width: 90%;
    }
}


.mainBox{
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    column-gap: 30px;
    justify-content: center;
}

.rightBox{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rightBox>img{
    width: 100%;
    height: 170px;
    object-fit: contain;
}
.rightBox>h3{
    font-size: 15px;
    max-width: 70%;
    margin: 0 auto;
    font-weight: 200;
    text-align: center;
}

@media (max-width:650px){
    .rightBox>h3{
        max-width: 90%;
        margin-bottom: 10px;
    }
}

.rightBox>button{
    padding: 11px 0;
    color: var(--bgcolor);
    font-family: var(--mainfont);
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 800;
}

.leftBox{
    flex-basis: 40%;
}
.leftBox>div:not(:last-child){
    display: flex;
    align-items: center;
    background-color: var(--bgcolor);
    column-gap: 20px;
    margin: 10px 0;
    /* background-color: white; */
    padding: 10px 10px;
}
.leftLastBox{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    padding-left: 20px;
    position: relative;
}
.leftLastBox::after{
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    background-color: var(--maincolor);
}

.leftLastBox>a{
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: 800;
    background-color: var(--maincolor);
    padding: 10px;
    text-align: center;
}

.leftLastBox>div{
    display: flex;
    width: 100%;
    align-items: center;
    column-gap: 20px;
}
.leftLastBox>div>div>h4{
    font-weight: 200;
    font-size: 12px;
}
.leftLastBox>div>img{
    border-radius: 10px;
}

@media screen and (max-width:1000px) {
    .mainBox{
        flex-direction: column;
        row-gap: 20px;
    }

}





/* Third Section */





.videoSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 50px;
    font-family: var(--mainfont);
    row-gap: 20px;
    color: white;
}
.videoSection>h1{
    font-size: clamp(30px, 5vw, 50px);
    max-width: 70%;
    text-align: center;
}
.videoSection>h4{
    font-size: clamp(13px, 3vw, 20px); 
    text-align: center;
    color: #8496AD;
    font-weight: 300;
}
.videoSection>img{
    width: 50%;
    /* background-color: white; */
    height: 60vh;
    margin-bottom: 20px;
    border-radius: 20px;
}

@media (max-width:950px){
    .videoSection>img{
        width: 80%;
    }
}

@media (max-width:540px) {
    .videoSection>h1{
        max-width: 90%;
    }
    .videoSection>img{
        height: 40vh;
    }
}





/* Fourth Section */





.learnSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: auto;
    color: white;
    font-family: var(--mainfont);
    row-gap: 20px;
}
.learnSection>h1{
    font-size: clamp(30px, 5vw, 50px);
    text-align: center;
}
.learnSection>p{
    font-size: clamp(13px, 3vw, 18px);
    text-align: center;
    color: #8496AD;
}

.learnSection>div{
    display: flex;
    width: 70%;
    height: 25vh;
    /* flex-wrap: wrap; */
    column-gap: 30px;
    align-content: center;
}
.learnSection>div>div{
    background-color: white;
    color: var(--bgcolor);
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.learnSection>div>div>i{
    color: var(--maincolor);
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    position: relative;
    top: -20px;
    box-shadow: 0 0 10px black;
    border-radius: 50%;
}
.learnSection>div>div>h2{
    margin-bottom: 10px;
}


@media screen and (max-width:990px) {
    .learnSection>div{
        flex-direction: column;
        row-gap: 20px;
    }
    .learnSection{
        height: 120vh;
    }
}






/* Fifth Section*/





.purchase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: red; */
    max-width: 1200px;
    margin: 20px auto;
    margin-top: 50px;
    font-family: var(--mainfont);
    gap: 100px;
    color: white;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 5%);
}

.left>h2{
    color: white;
    font-size: 30px;
}
.left>img{
    width: 100%;
}
.left>p{
    font-size: clamp(13px,3vw,18px);
}

.right > h2 {
    margin-left: 40px;
    color: #ff7a00;
}

.right > button {
    background: linear-gradient(#ff7a00, #ffac60);
    color: white;
    height: 48px;
    width: 30%;
    border: none;
    cursor: pointer;
}

.right > button:hover {
    background: #ff7a00;
}

.right-arrow {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.right-arrow i {
    font-size: 24px;
    margin-right: 10px;
}

@media (max-width: 900px) {
    .purchase-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .left{
        text-align: center;
    }

    .right {
        margin-top: 20px;
        row-gap: 10px;
        padding: 10px 0;
    }

    .right > button {
        width: 80%;
        margin-left: 10%;
    }
}





/* Sixth Section */



.faq{
    font-family: var(--mainfont);
}

.faq > h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: clamp(30px, 5vw, 50px);;
    margin-bottom: 20px;
}

.faq-container {
    background-color: #f8fafc;
    border-radius: 8px;
    padding: 10px;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
}

.faq-icon {
    color: #ff7a00;
    font-size: 2em;
    margin-right: 10px;
}

.faq-text-content {
    max-width: 800px;
}

.faq-container h2 {
    color: black;
    margin-bottom: 5px;
    font-size: 1.5em;
}

.faq-container p {
    color: black;
    font-size: 1em;
    line-height: 1.5;
}





/* Seventh Section */



.main_slider{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    position: relative;
    align-items: center;
}
.main_slider>h1{
    color: white;
    font-family: var(--mainfont);
    font-size: clamp(30px, 5vw, 50px);
    text-align: center;
}
.main_slider>p{
    color:#8496AD;
    font-family: var(--mainfont);
    font-size: clamp(13px, 3vw, 18px);
    text-align: center;
    max-width: 70%;
}

.cont__blog{
    height: 30vh;
    width: 80%;
    margin-top: 30px;
    display: flex;
    column-gap: 20px;
}
.cont__blog>div{
    height: 100%;
}
.cont__blog>div>div{
    height: 100%;
}
.stories{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    justify-content: flex-start;
    padding-top: 10px;
    margin-right: 20px;
    height: 100%;
    text-align: center;
    background-color: white;
    font-family: var(--mainfont);
    color: var(--bgcolor);
}
.stories>i{
    background-color: var(--maincolor);
    color: white;
    padding: 6px 10px;
    border-radius: 50%;
}
.slick-dots li button::before{
    color: white;
}





/* Footer */




footer{
    background: var(--lightbg);
    height: auto;
    width: 100vw;
    margin-top: 50px;
    font-family: var(--mainfont);
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: var(--maincolor);
}

.footer-bottom{
    background: var(--bgcolor);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}